###
# + Project related
# ==================================================================

test
coverage
.editorconfig
.gitignore
.travis.yml
.jshintrc

# = Project related


###
# + IDEs / DevEnv
# ==================================================================

# Sublime Text
*.sublime-workspace
*.sublime-project

# Node, Bower
node_modules/
npm-debug.log
bower_components/

# = IDEs / DevEnv


###
# + Operating systems
# ==================================================================

# Linux
*~
.directory
.ssh/

# Windows
thumbs.db
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop

# = Operating systems


###
# + Other
# ==================================================================

*.tmp
*.bak
*.swp

# = Other
